@charset "utf-8";
*{
	box-sizing: border-box;
}
    html {
        background-color: #373737;
        font-family: "微軟正黑體";
    }

    #app {
		text-align: center;
        margin-top: 3vh;
		
		

    }

    h1 {
        text-align: center;
        margin-top: 5rem;
        font-size: 42px;
		color: #c0b283;
		font-family: "微軟正黑體";
    }

	p {
		color: #A67F78;
		font-size: 18px;
	}
	
hr{
	width: 16rem;
	height: 2px;
	border: none;
	border-radius: 5px;
	margin-top: 3rem;
	background-color: #c0b283;
}
input{
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 30%;
}
span{
	border: none;
	border-radius: 5px;
	font-size: 13px;
	padding: 8px;
}
	.container {
        text-align: center;
        padding: 0;
		
    }

/*----button style ----*/
    .btnBig {
        display: inline-block;
        font-size: 1.3rem;
		text-align: center;
		font-family: "微軟正黑體";
		color: #f4f4f4;
		position: relative;
        margin: 0.5rem;
        margin-top: 1rem;
        width: 4rem;
        height: 3rem;

		border: none;
		border-radius: 1rem;
		background-color: #c0b283;

		overflow: hidden;
 		-webkit-transition: all 0.15s ease-in;
 				transition: all 0.15s ease-in;
    }
 
 
 .btnBig:before {
 content: ' ';
 position: absolute;
 background: #fff;
 width: 25px;
 height: 80px;
 top: 0;
 left: -45px;
 opacity: 0.3;
 -webkit-transition: all 0.25s ease-out;
 transition: all 0.25s ease-out;
 -webkit-transform: skewX(-25deg);
         transform: skewX(-25deg);
}                  
 
.btnBig:hover:before {
 left: 100px;
}    	

@media screen and (max-width:360px){
	
	span{
		border: none;
		border-radius: 5px;
		font-size: 12px;
		padding: 8px;
	}
	
}



















